<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../static/bootstrap-4.4.1-dist/css/bootstrap.min.css"
          th:href="@{/static/bootstrap-4.4.1-dist/css/bootstrap.min.css}"/>
    <link href="https://cdn.bootcss.com/font-awesome/5.12.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/theme.css" th:href="@{/static/css/theme.css}"/>

</head>

<body>
<div class="row">
    <nav class="navbar fixed-top shadow-sm nav-m p-0" style="border-bottom: 1px solid #dbdbdb;">
        <div class="container d-flex align-items-center flex-nowrap flex-row justify-content-between"
             style="max-width: 992px;height:54px;">
            <a th:href="@{/admin}" class="pr-3">管理员</a>
            <div>
                <span th:text="'@'+${session.admin.username}" class="mr-2"></span>
                <a th:href="@{/admin/logout.action}">
                    <i class="fas fa-sign-out-alt"></i><span> 登出</span>
                </a>
            </div>
        </div>
    </nav>
</div>

<!--主内容-->
<div class="container content-m">

    <div class="row justify-content-between">
        <form th:action="@{/admin(start=1,a=${a})}" method="post">
            <div class="input-group input-group-sm" style="max-width: 200px;">
                <input type="text" class="form-control" name="s" th:placeholder="${a}==0?'在待处理内搜索...':'在归档内搜索...'">
            </div>
        </form>
        <div>
            <a th:href="@{/admin(start=1,s=null,a=0)}" class="btn btn-outline-secondary"
               th:classappend="${s.equals('')&&a!=1}?'active'" role="button">待处理</a>
            <a th:href="@{/admin(start=1,s=null,a=1)}" class="btn btn-outline-secondary"
               th:classappend="${s.equals('')&&a==1}?'active'" role="button">归档</a>
        </div>
    </div>
    <div class="row">
        <div id="reports-container" th:fragment="reports-container" class="btn-block">
            <table class="table" style="color: inherit">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">举报人</th>
                    <th scope="col">发帖人</th>
                    <th scope="col">图片</th>
                    <th scope="col">内容</th>
                    <th scope="col">举报时间</th>
                    <th th:if="${a==1}" scope="col">处理时间</th>
                    <th th:if="${a==1}" scope="col">处理结果</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${not #lists.isEmpty(reportList.list)}" th:each="report : ${reportList.list}">
                    <th th:text="${report.id}" scope="row">1</th>
                    <td><a th:href="@{'/user/'+${report.fromId}}" th:text="${report.fromUser.username}"
                           class="btn btn-link"></a></td>
                    <td><a th:href="@{'/user/'+${report.post.user.username}}" th:text="${report.post.user.username}"
                           class="btn btn-link"></a></td>
                    <td>
                        <a href="javascript:" data-toggle="modal" data-target="#showImgModal"
                           th:data-whatever="${report.post.img_dir}">
                            <img th:src="@{${report.post.img_dir}}" alt="" class="chat-avatar">
                        </a>
                    </td>
                    <td><a th:href="@{'/posts/'+${report.pid}}" th:text="${report.post.p_title}"
                           class="btn btn-link"></a></td>
                    <td th:text="${#dates.format(report.time,'yyyy-MM-dd HH:mm')}">@mdo</td>
                    <td th:if="${a==1}" th:text="${#dates.format(report.operateTime,'yyyy-MM-dd HH:mm')}">@mdo</td>
                    <td th:unless="${a==1}">
                        <a th:attr="data-ownerid=${report.post.user.id},data-title='处理',data-unfreeze=false,data-pid=${report.pid}"
                           href="javascript:" data-toggle="modal"
                           data-target="#optionModal" class="btn btn-outline-warning" role="button">处理</a>
                        <a href="#" class="btn btn-outline-danger" role="button">删除</a>
                    </td>
                    <td th:if="${a==1}" th:text="|${report.duration}天|"></td>
                    <td th:if="${a==1}">
                        <a th:attr="data-ownerid=${report.post.user.id},data-title='修改',data-unfreeze=true,data-pid=${report.pid}"
                           href="javascript:" data-toggle="modal"
                           data-target="#optionModal" class="btn btn-outline-success text-nowrap" role="button">修改</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>


    </div>
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link bg-transparent" th:href="@{/admin(start=1,s=${s},a=${a})}">
                        <span aria-hidden="true">首页</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link bg-transparent" th:href="@{/admin(start=${reportList.pageNum}-1,s=${s},a=${a})}"
                       aria-label="Previous">
                        <span aria-hidden="true">上一页</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link bg-transparent" th:href="@{/admin(start=${reportList.pageNum}+1,s=${s},a=${a})}"
                       aria-label="Next">
                        <span aria-hidden="true">下一页</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link bg-transparent" th:href="@{/admin(start=${reportList.pages},s=${s},a=${a})}">
                        <span aria-hidden="true">末页</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<!--图片modal-->
<div class="modal fade" id="showImgModal" tabindex="-1" role="dialog" aria-labelledby="showImgModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <img id="modal-img" src="" alt="" style="width: 100%">
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal" id="optionModal" tabindex="-1" role="dialog"
     aria-labelledby="optionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="optionModalLabel">处理</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="options">
                <div class="modal-body">
                    <input type="hidden" name="pid">
                    <div class="form-inline form-group">
                        <label>
                            目标uid：
                            <input type="text" class="form-control" name="id" readonly>
                        </label>
                    </div>
                    <p>期限（从当前时间开始计算）：</p>
                    <div class="custom-control custom-radio custom-control-inline" style="display: none" id="unfreeze">
                        <input type="radio" id="customRadioInline" name="duration"
                               class="custom-control-input" value="0">
                        <label class="custom-control-label" for="customRadioInline">解冻</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="duration"
                               class="custom-control-input" value="1" checked>
                        <label class="custom-control-label" for="customRadioInline1">1天</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline3" name="duration"
                               class="custom-control-input" value="3">
                        <label class="custom-control-label" for="customRadioInline3">3天</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline4" name="duration"
                               class="custom-control-input" value="7">
                        <label class="custom-control-label" for="customRadioInline4">7天</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline5" name="duration"
                               class="custom-control-input" value="15">
                        <label class="custom-control-label" for="customRadioInline5">15天</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline6" name="duration"
                               class="custom-control-input" value="30">
                        <label class="custom-control-label" for="customRadioInline6">30天</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline7" name="duration"
                               class="custom-control-input" value="36525">
                        <label class="custom-control-label" for="customRadioInline7">永久（100年）</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="submitFreeze()">确认</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 过渡动画 -->
<!--CSS Spinner-->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>

<!-- 返回顶部 -->
<a href="javaScript:;" class="top"><i class="fas fa-arrow-up" style="font-size: 150%; "></i></a>

<th:block th:replace="include :: genaralScript"></th:block>
<script type="text/javascript" src="../../static/js/jquery.validate.js"
        th:src="@{/static/js/jquery.validate.js}"></script>

<script th:inline="javascript" type="text/javascript">

    /*过渡动画*/
    $(function () {
        function hidePreloader() {
            $('.spinner-wrapper').fadeOut(500);
        }

        hidePreloader();
    });


    /*图片modal*/
    $('#showImgModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget); // Button that triggered the modal
        let whatever = button.data('whatever'); // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        $('#modal-img').attr("src", whatever);
    })
    /*option modal*/
    $('#optionModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget); // Button that triggered the modal
        let ownerid = button.data('ownerid'); // Extract info from data-* attributes
        let title = button.data('title');
        let unfreeze = button.data('unfreeze');
        let pid = button.data('pid');
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        $('input[name=id]').attr("value", ownerid);
        $('#optionModalLabel').text(title);
        if (unfreeze === true) {
            $('#unfreeze').show();
        }
        $('input[name=pid]').val(pid);
    })

    function submitFreeze() {
        if (confirm('确认操作？')) {
            let params = "/" + $('input[name=id]').val() + "/" + $('input[name=pid]').val() + "/" + $('input[name=duration]:checked').val();
            let url = "/admin/freeze" + params;
            alert(url);
            $.post({
                url: url,
                /*contentType: 'application/json;charset=UTF-8',
                dataType: 'json',*/
                success: function (data) {
                    alert(data);
                    if (data === "ok") {
                        alert("操作成功");
                        window.location.reload();
                    } else {
                        alert(data);
                    }
                }
            });
        }
    }
</script>

</body>
</html>