.btn:focus, .btn:active {
	outline: none !important;
	box-shadow: none !important;
}

.sidebar-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Position the items */
}

.make-me-sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding: 0 15px;
}

.top {
	width: 37px;
	height: 37px;
	background: skyblue;
	cursor: pointer;
	color: white;
	text-align: center;
	padding-top: 13px;
	position: fixed;
	border-radius: 5px;
	right: 100px;
	bottom: 50px;
	display: none;
}

.top:hover {
	background: yellowgreen;
}

.nav-item-padding {
	margin: 0 0.3em;
}

.navbar-icon {
	color: #bbbbbb;
	font-size: 150%;
}

.navbar-icon:hover, .navbar-icon:focus {
	color: #cecece;
}

.navbar-icon:active {
	color: #cecece;
}

.navbar-icon-active {
	color: #cecece;
}

.zoom-img {
	width: 75px;
	height: 100px;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid #000;
}

.avator3 {
	width: 15px;
	height: 0px;
	padding-bottom: 100%;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 2px;
}

.custom-list-group-item {
	position: relative;
	display: block;
	border-radius: 0.25rem !important;
}

.custom-list-group-item-action {
	width: 100%;
	color: var(--list-color);
	text-align: inherit;
}

.custom-list-group-item-action:hover, .custom-list-group-item-action:focus {
	z-index: 1;
	color: var(--list-color);
	text-decoration: none;
	background-color: var(--list-bg-hover-color);
}

.custom-list-group-item-action:active {
	color: var(--list-color);
	background-color: var(--list-bg-active-color);
}

.category-img {
	margin: 6px 6px 6px 4px !important;
	border-radius: .2em !important;
	width: 25px;
}

#drop_area {
	width: 100%;
	margin: auto;
	height: 0px;
	padding: 19.69% 0;
	background-color: rgba(170, 170, 170, 0.2);
	border: 2px dashed #4a4a4a;
	text-align: center;
}