<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/bootstrap-4.4.1-dist/css/bootstrap.min.css"
          th:href="@{/static/bootstrap-4.4.1-dist/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/static/js/jquery-3.4.1.min.js}"
            src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <style type="text/css">
        .loading {
            background: #00000040 no-repeat center 50%;
            z-index: 9999;
        }
    </style>
</head>

<body>
<div class="container-fluid text-center">
    <h2>遮罩层DEMO</h2>
    <!-- 按钮触发模态框 -->
    <button οnclick="startup()">遮罩层</button>
</div>
    <!-- 遮罩层模态框（Modal） -->
    <div class="modal fade loading" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        // data-backdrop="static" data-keyboard="false" // 以上属性是静止掉了模态框的关闭按钮和点击空白处关闭模态框
    </div>

    <script>
        function startup() {
            $("#myModal").modal('show');
            setTimeout('shutdown()', 5000);
        }

        function shutdown() {
            $("#myModal").modal('hide');
        }
    </script>
</body>

</html>