<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" media="all" href="../static/bootstrap-4.4.1-dist/css/bootstrap.min.css"
          th:href="@{/bootstrap-4.4.1-dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/fontawesome-free-5.12.0-web/css/all.css"
          th:href="@{/fontawesome-free-5.12.0-web/css/all.css}"/>

    <style type="text/css">
        .nav-item-padding {
            margin: 0 0.3em;
        }

        .navbar-icon {
            color: #999999;
            font-size: 150%;
        }

        .navbar-icon:hover, .navbar-icon:focus {
            color: white;
        }

        .navbar-icon:active {
            color: white;
        }

        .navbar-icon-active {
            color: white;
        }

        .night-mode-switch {
            font-size: 150%;
        }

        .night-mode-switch-dark {
            color: #999999;
        }

        .night-mode-switch-light {
            color: #ffcc00;
        }

        .night-mode-switch:hover, .night-mode-switch:focus {
            color: #ffcc00;
        }

        .night-mode-switch:active {
            color: #ffcc00;
        }

        .zoom-img {
            width: 75px;
            height: 100px;
            overflow: hidden;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border: 2px solid #000;
        }

        .avator3 {
            width: 15px;
            height: 0px;
            padding-bottom: 100%;
            overflow: hidden;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 2px;
        }

        .custom-list-group-item {
            position: relative;
            display: block;
            border-radius: 0.25rem !important;
        }

        .custom-list-group-item-action {
            width: 100%;
            color: #000000;
            text-align: inherit;
        }

        .custom-list-group-item-action:hover, .custom-list-group-item-action:focus {
            z-index: 1;
            color: #000000;
            text-decoration: none;
            background-color: #f8f9fa;
        }

        .custom-list-group-item-action:active {
            color: #000000;
            background-color: #e9ecef;
        }

        .custom-list-group-item-action-night {
            width: 100%;
            color: #90989f;
            text-align: inherit;
        }

        .custom-list-group-item-action-night:hover, .custom-list-group-item-action-night:focus {
            z-index: 1;
            color: #90989f;
            text-decoration: none;
            background-color: #1a1a1a;
        }

        .custom-list-group-item-action-night:active {
            color: #90989f;
            background-color: #1a1a1a;
        }

        .category-img {
            margin: 6px 6px 6px 4px !important;
            border-radius: .2em !important;
            width: 25px;
        }

        .custom-fixed-top {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 30;
        }

        #drop_area {
            width: 70%;
            margin: auto;
            height: 0px;
            padding: 19.69% 0;
            background-color: #CCC;
            border: 2px dashed #4a4a4a;
            text-align: center;
        }

    </style>
    <script type="text/javascript">

        function nightModeSwitch() {
            var b = document.getElementById("body");
            if (b.style.backgroundColor === "white") {
                $("body").css({backgroundColor: "black"});
                $("body").css({color: "#999999"})
            } else {
                $("body").css({backgroundColor: "white"});
                $("body").css({color: "black"});
            }

            if (!$(".card").hasClass("bg-dark")) {
                $(".card").addClass("bg-dark");
            } else {
                $(".card").removeClass("bg-dark");
            }

            if ($(".night-mode-switch").hasClass("night-mode-switch-dark")) {
                $(".night-mode-switch").removeClass("night-mode-switch-dark");
                $(".night-mode-switch").addClass("night-mode-switch-light");
            } else {
                $(".night-mode-switch").removeClass("night-mode-switch-light");
                $(".night-mode-switch").addClass("night-mode-switch-dark");
            }

            if ($(".custom-list-group-item").hasClass("custom-list-group-item-action")) {
                $(".custom-list-group-item").removeClass("custom-list-group-item-action");
                $(".custom-list-group-item").addClass("custom-list-group-item-action-night");
            } else {
                $(".custom-list-group-item").removeClass("custom-list-group-item-action-night");
                $(".custom-list-group-item").addClass("custom-list-group-item-action");
            }

        }


    </script>

</head>
<body id="body" style="font-size: 90%;background-color: white">


<!--  导航栏-开始  -->
<div th:replace="include::header_navbar"></div>

<!--主体-->
<div class="container-xl">
    <!--内容-->
    <div class="row" style="padding: 90px 0">
        <!--左边栏-->
        <div class="col-2">
            <h5 style="color: #9d9d9d">POPULAR</h5>
            <ul class="list-unstyled">
                <a href="#" class="custom-list-group-item custom-list-group-item-action">
                    <img src="../static/img/categories/1557376304.186_U5U7u5_100x100wp.webp"
                         th:src="@{/img/categories/1557376304.186_U5U7u5_100x100wp.webp}" class="category-img">Funny
                </a>
                <a href="#" class="custom-list-group-item custom-list-group-item-action">
                    <img src="../static/img/categories/1557391851.3248_Za4UdA_100x100wp.webp"
                         th:src="@{/img/categories/1557391851.3248_Za4UdA_100x100wp.webp}" class="category-img">Animals
                </a>
                <a href="#" class="custom-list-group-item custom-list-group-item-action">
                    <img src="../static/img/categories/1557376304.186_U5U7u5_100x100wp.webp"
                         th:src="@{/img/categories/1557376304.186_U5U7u5_100x100wp.webp}" class="category-img">Funny
                </a>
                <a href="#" class="custom-list-group-item custom-list-group-item-action">
                    <img src="../static/img/categories/1557391851.3248_Za4UdA_100x100wp.webp"
                         th:src="@{/img/categories/1557391851.3248_Za4UdA_100x100wp.webp}" class="category-img">Animals
                </a>
                <a href="#" class="custom-list-group-item custom-list-group-item-action">
                    <img src="../static/img/categories/1557376304.186_U5U7u5_100x100wp.webp"
                         th:src="@{/img/categories/1557376304.186_U5U7u5_100x100wp.webp}" class="category-img">Funny
                </a>
                <a href="#" class="custom-list-group-item custom-list-group-item-action">
                    <img src="../static/img/categories/1557391851.3248_Za4UdA_100x100wp.webp"
                         th:src="@{/img/categories/1557391851.3248_Za4UdA_100x100wp.webp}" class="category-img">Animals
                </a>
            </ul>
            <img th:src="@{/img/Snipaste_2019-12-12_09-22-49.png}"
                 src="../static/img/Snipaste_2019-12-12_09-22-49.png" class="rounded float-left img-thumbnail"
                 alt="...">
        </div>
        <!--主体内容-->
        <div class="col-7">
            <h1 class="display-4" style="font-weight: bold">Home page</h1>
            <div id="c123"></div>

            <div class="page-load-status">
                <div class="loader-ellips infinite-scroll-request">
                    <span class="loader-ellips__dot"></span>
                    <span class="loader-ellips__dot"></span>
                    <span class="loader-ellips__dot"></span>
                    <span class="loader-ellips__dot"></span>
                </div>
                <p class="infinite-scroll-last" style="text-align: center">End of content</p>
                <p class="infinite-scroll-error" style="text-align: center">No more posts to load</p>
            </div>
        </div>
        <!--右边栏-->
        <div class="col-3">
            <div class="card">
                <img th:src="@{/img/Snipaste_2019-12-24_09-05-09.png}"
                     src="../static/img/Snipaste_2019-12-24_09-05-09.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="include::footer"></div>
</div>


<div id="photo-item-template" style="display: none">

    <div class="card mb-3">
        <img src="{{img_dir}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" style="display: inline-block">{{p_title}}&nbsp;&nbsp;</h5>
            <div class="dropdown" style="float: right" >
                <button class="btn btn-sm" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ···
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" onclick="deletePost({{p_id}})">delete post</a>
                    <a class="dropdown-item" href="#">pid: {{p_id}}</a>
                </div>
            </div>
            <p class="card-text">{{u_username}}&nbsp;&nbsp;<small class="text-muted">{{upload_time}}</small></p>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.</p>

            <div class="collapse" id="commentSection1">
                <div class="card card-body">

                    <div class="media">
                        <img src="" class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0">Media heading</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                            Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
                            faucibus.

                            <div class="media mt-3">
                                <a class="mr-3" href="#">
                                    <img src="" class="mr-3" alt="...">
                                </a>
                                <div class="media-body">
                                    <h5 class="mt-0">Media heading</h5>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                    ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                    viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                                    lacinia congue felis in faucibus.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#commentSection1"
                    aria-expanded="false" aria-controls="commentSection1">
                Comments
            </button>
        </div>
    </div>
</div>


<script type="text/javascript" th:src="@{/jquery/jquery-3.4.1.min.js}"
        src="../static/jquery/jquery-3.4.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/infinite-scroll.pkgd.js}"
        src="../static/js/infinite-scroll.pkgd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<!--<script type="text/javascript" src="../static/jquery-validation-1.19.1/lib/jquery.js"
        th:src="@{/jquery-validation-1.19.1/lib/jquery.js}"></script>-->
<script type="text/javascript" src="../static/jquery-validation-1.19.1/dist/jquery.validate.js"
        th:src="@{/jquery-validation-1.19.1/dist/jquery.validate.js}"></script>

<script type="text/javascript" src="../static/bootstrap-4.4.1-dist/js/bootstrap.min.js"
        th:src="@{/bootstrap-4.4.1-dist/js/bootstrap.min.js}"></script>

<script type="text/javascript">
    var $container = $('#c123').infiniteScroll({
        path: function () {
            return 'http://localhost:8080/loadMine?start=' + this.pageIndex + '&u_username=[[${session.username}]]';
        },
        // load response as flat text
        responseType: 'text',
        status: '.scroll-status',
        history: false,
    });

    $container.on('load.infiniteScroll', function (event, response) {
        // parse response into JSON data
        var data = JSON.parse(response).list;
        // compile data into HTML
        var itemsHTML = data.map(getItemHTML).join('');
        // convert HTML string into elements
        var $items = $(itemsHTML);
        // append item elements
        $container.infiniteScroll('appendItems', $items);
    });

    // load initial page
    $container.infiniteScroll('loadNextPage');

    //------------------//

    var itemTemplateSrc = $('#photo-item-template').html();

    function getItemHTML(photo) {
        return microTemplate(itemTemplateSrc, photo);
    }

    // micro templating, sort-of
    function microTemplate(src, data) {
        // replace {{tags}} in source
        return src.replace(/\{\{([\w\-_\.]+)\}\}/gi, function (match, key) {
            // walk through objects to get value
            var value = data;
            key.split('.').forEach(function (part) {
                value = value[part];
            });
            return value;
        });
    }
</script>

<script th:inline="javascript" type="text/javascript">
    var loginButton = document.getElementById("LoginButton");
    var registerButton = document.getElementById("RegisterButton");
    var notificationButton = document.getElementById("NotificationButton");
    var userButton = document.getElementById("UserButton");
    var uploadButton = document.getElementById("UploadButton");

    var a = [[${session.name}]];
    console.log("登录时name" + a);
    console.log("登录时username" + [[${session.username}]]);
    // console.log("filename:" + [[${filename}]]);
    if (a == null) {
        /*未登录*/
        loginButton.style.display = "";
        registerButton.style.display = "";
        notificationButton.style.display = "none";
        userButton.style.display = "none";
        uploadButton.style.display = "none";
    } else {
        /*已登录*/
        loginButton.style.display = "none";
        registerButton.style.display = "none";
        notificationButton.style.display = "";
        userButton.style.display = "";
        uploadButton.style.display = "";
    }

    /*登录*/
    function login() {
        $.post("/login.action",
            $("#loginFormData").serialize(),
            function (data) {
                if (data === "success") {
                    alert("登录成功");
                    window.location.reload();
                } else if (data == "fail: 0") {
                    alert("用户名或密码错误");
                } else if (data == "fail: 1") {
                    alert("账户已停用");
                } else {
                    alert("登录失败");
                }
            });
    }

    /*注册*/
    function register() {
        $.post("/register.action",
            $("#signupForm").serialize(),
            function (data) {
                alert(data);
                if (data === "ok") {
                    alert("注册成功");
                    window.location.reload();
                } else if (data === "fail") {
                    alert("用户名已被占用");
                } else {
                    alert("注册失败");
                }
            });
    }
    $(document).ready(function () {
        $("#loginFormData").validate({
            rules: {
                username: {
                    required: true
                },
                password: {
                    required: true
                }
            },
            messages: {
                username: "Please enter your username",
                password: "Please enter your password"
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                // Add the `invalid-feedback` class to the error element
                error.addClass("invalid-feedback");
                if (element.prop("type") === "checkbox") {
                    error.insertAfter(element.next("label"));
                } else {
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass("is-invalid").removeClass("is-valid");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).addClass("is-valid").removeClass("is-invalid");
            },
            submitHandler: function () {
                login();
            }
        });
        $("#signupForm").validate({
            rules: {
                name: "required",
                username: {
                    required: true,
                    minlength: 2
                },
                password: {
                    required: true,
                    minlength: 5
                },
                confirm_password: {
                    required: true,
                    minlength: 5,
                    equalTo: "#regpassword"
                },
                agree: "required"
            },
            messages: {
                name: "Please enter your name",
                username: {
                    required: "Please enter a username",
                    minlength: "Your username must consist of at least 2 characters"
                },
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                },
                confirm_password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long",
                    equalTo: "Please enter the same password as above"
                },
                agree: "Please accept our policy"
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                // Add the `invalid-feedback` class to the error element
                error.addClass("invalid-feedback");
                if (element.prop("type") === "checkbox") {
                    error.insertAfter(element.next("label"));
                } else {
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass("is-invalid").removeClass("is-valid");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).addClass("is-valid").removeClass("is-invalid");
            },
            submitHandler: function () {
                register();
            }
        });
        $("#uploadFormData").validate({
            rules: {
                p_title: {
                    required: true
                }
            },
            messages: {
                p_title: "Please enter a title"
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                // Add the `invalid-feedback` class to the error element
                error.addClass("invalid-feedback");
                if (element.prop("type") === "checkbox") {
                    error.insertAfter(element.next("label"));
                } else {
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass("is-invalid").removeClass("is-valid");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).addClass("is-valid").removeClass("is-invalid");
            },
            submitHandler: function () {
                uploadPost();
            }
        });
    });


    /*清除默认拖放动作*/
    $(document).on({
        dragleave: function (e) {	//拖离
            e.preventDefault();
        },
        drop: function (e) {  //拖后放
            e.preventDefault();
        },
        dragenter: function (e) {	//拖进
            e.preventDefault();
        },
        dragover: function (e) {	//拖来拖去
            e.preventDefault();
        }
    });

    /*拖放上传图片*/
    var box = document.getElementById('drop_area'); //拖拽区域
    box.addEventListener("drop", function (e) {
        e.preventDefault(); //取消默认浏览器拖拽效果
        var fileList = e.dataTransfer.files; //获取文件对象
        //检测是否是拖拽文件到页面的操作
        if (fileList.length == 0) {
            return false;
        }
        //检测文件是不是图片
        if (fileList[0].type.indexOf('image') === -1) {
            alert("您拖的不是图片！");
            return false;
        }

        //拖拉图片到浏览器，可以实现预览功能
        var img = window.webkitURL.createObjectURL(fileList[0]);
        var filename = fileList[0].name; //图片名称
        var filesize = Math.floor((fileList[0].size) / 1024);

        if (filesize>=20480){
            alert("图片过大")
            return false;
        }
        var formData = new FormData();
        var formTitle = document.getElementById("formTitle");

        formData.append("upload", fileList[0]);
        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "/imgUpload",
            data: formData,
            processData: false,  // Important!
            contentType: false,
            cache: false,
            success: function (data) {
                var str = "<img src='" + img + "' class='d-block mx-auto img-thumbnail'><p>filename: " + filename + "</p><p>filesize: " + filesize + "KB</p>";
                $("#preview").html(str);
                box.style.display = "none";
                formTitle.style.display = "";
                filename = data;
                console.log("上传图片filename" + filename);
                $("#img_dir").val(filename);
                $("#u_username").val([[${session.username}]]);
            },
            error: function () {
                alert("ERROR");
            }
        })
    }, false);

    /*上传post*/
    function uploadPost() {
        var u_username = [[${session.username}]];
        console.log("上传时username" + u_username);
        $.post("/uploadForm",
            $("#uploadFormData").serialize(),
            function (data) {
                if (data === "success") {
                    clearUploadForm();
                    alert("success");
                    window.location.reload();
                }
            });
    }

    /*清空post*/
    function clearUploadForm() {
        document.getElementById("uploadFormData").reset();
        box.style.display = "";
        $("#preview").html("");
        $("#uploadTitle").removeClass("is-valid");
    }

    /*删除post*/
    function deletePost(p_id) {
        if (confirm('Confirm to delete?')) {
            $.post("/delete_post_id", {"p_id": p_id},
                function (data) {
                    if (data == "OK") {
                        alert("success");
                        window.location.reload();
                    } else {
                        alert("Fail");
                        window.location.reload();
                    }
                });
        }
    }

</script>

</body>
</html>