<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="nav_and_menu">
    <!--底部弹出菜单-->
    <div class="collapse fixed-bottom" id="collapseExample">
        <div class="container" style="max-width: 612px;padding: 0 !important;">
            <div class="card card-body post-card">
                <div class="list-group">
                    <a th:href="@{/home}" class="m-list-item online-button" style="display: none">
                        <i class="fas fa-home"></i>
                        <span th:text="${session.user?.name}"></span></a>
                    <a th:href="@{/login}" class="m-list-item offline-button">
                        <i class="fas fa-sign-in-alt"></i>
                        <span> 登录</span></a>
                    <a th:href="@{/register}" class="m-list-item offline-button">
                        <i class="fas fa-hat-wizard"></i>
                        <span> 注册</span></a>
                    <a href="#" class="m-list-item online-button"
                       style="display: none" data-toggle="modal"
                       data-target="#uploadForm"><i class="fas fa-plus"></i> upload</a>
                    <a href="#" class="m-list-item online-button" style="display: none"><i
                            class="fas fa-bell"></i><span> 消息</span></a>
                    <a href="#" class="m-list-item online-button" style="display: none"><i
                            class="fas fa-comment-alt"></i><span> 信息</span></a>
                    <a th:href="@{/logout.action}" class="m-list-item online-button" style="display: none"><i
                            class="fas fa-sign-out-alt"></i><span> 登出</span></a>
                </div>
            </div>
        </div>
    </div>

    <!--顶部导航栏-->
    <div class="row">
        <nav class="navbar fixed-top shadow-sm nav-m p-0" style="border-bottom: 1px solid #dbdbdb;">
            <div class="container"
                 style="max-width: 992px;height:54px;display: flex; flex-direction: row; align-items: center;flex-wrap: nowrap;">
                <a th:href="@{/index}" class="pr-3">Pic</a>
                <form th:action="@{/search_post}" method="post">
                    <div class="input-group input-group-sm" style="max-width: 200px;">
                        <input type="text" class="form-control" name="search_item">
                    </div>
                </form>

                <a class="pl-3" data-toggle="collapse" href="#collapseExample" role="button"
                   aria-expanded="false" aria-controls="collapseExample" style="text-decoration: none;">
                    <i class="fas fa-user-circle" style="font-size: 22px!important;"></i>
                </a>
            </div>
        </nav>
    </div>

    <!--上传框-->
    <div class="modal fade" id="uploadForm" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="uploadFormTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadFormTitle">上传</h5>
                    <button type="button" class="close" data-dismiss="modal" onclick="clearUploadForm()"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="choose-area">
                    <form>
                        <div class="form-group">
                            选择一张图片: <label for="exampleFormControlFile1" class="btn btn-primary">浏览</label>
                            <input type="file" accept="image/*" class="form-control-file" id="exampleFormControlFile1"
                                   name="upload"
                                   style="display: none">
                        </div>
                    </form>
                    <div id="drop_area" class="d-flex justify-content-center align-items-center"><p>拖放图片到此处</p></div>
                </div>
                <form id="uploadFormData" method="post" action="">
                    <div class="modal-body">
                        <div class="form-group">
                            <div id="preview"></div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="u_id" id="u_id">
                            <input type="hidden" name="img_dir" id="img_dir">
                        </div>
                        <div class="form-group" id="formTitle" style="display: none">
                            <label for="uploadTitle">Title</label>
                            <input type="text" class="form-control" name="p_title" id="uploadTitle">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="clearUploadForm()"
                                data-dismiss="modal">
                            关闭
                        </button>
                        <button type="submit" class="btn btn-primary" name="signup" value="Submit">上传</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--图片modal-->
    <div class="modal fade" id="showImgModal" tabindex="-1" role="dialog" aria-labelledby="showImgModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <img id="modal-img" src="" alt="" style="width: 100%">
            </div>
        </div>
    </div>

    <!-- 过渡动画 -->
    <!--CSS Spinner-->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</header>

<footer th:fragment="footer2(start,now)">
    <p th:text="|${start} - ${now} All Rights Reserved|"></p>
</footer>

<th:block th:fragment="genaralPosts">
    <div th:if="${not #lists.isEmpty(posts)}" th:each="post : ${posts}">
        <div id="posts" class="card mb-3" th:if="${post.publicity==1}">
            <div class="card-header bg-transparent d-flex flex-row align-items-center pl-3 pr-3"
                 style="position: relative">
                <div class="pr-3">
                    <img th:src="@{${post.u_avatar}}" alt="..." class="rounded-circle post-avator">
                </div>
                <div class="d-flex flex-column">
                    <a th:href="@{'/user/'+${post.getU_id()}}" class="stretched-link"
                       style="font-size: 66% !important;font-weight: bold"
                       th:text="${post.u_username}">null
                    </a>
                    <div class="text-muted" style="font-size: 55% !important;"
                         th:text="${#dates.format(post.upload_time,'yyyy-MM-dd HH:mm')}">null
                    </div>
                </div>
            </div>
            <a href="javascript:" data-toggle="modal" data-target="#showImgModal"
               th:data-whatever="${post.img_dir}">
                <img th:src="@{${post.img_dir}}" class="post-card-img" alt="...">
            </a>

            <div class="d-flex justify-content-around">
                <div class="p-2 bd-highlight">
                    <label th:for="'like_'+${post.p_id}" class="like">
                        <input type="checkbox" class="like" th:id="'like_'+${post.p_id}"
                               th:checked="${post.p_like_flag==1}" style="display: none">
                        <i class="fas fa-heart icon-size"></i>
                    </label>
                </div>
                <div class="p-2 bd-highlight"><a th:href="@{'/posts/'+${post.getP_id()}}"><i
                        class="far fa-comment-dots icon-size"></i></a></div>
                <div class="p-2 bd-highlight"><!--<a href="#"><i class="far fa-bookmark icon-size"></i></a>-->
                    <label th:for="'fav_'+${post.p_id}" class="fav">
                        <input type="checkbox" class="fav" th:id="'fav_'+${post.p_id}"
                               th:checked="${post.p_fav_flag==1}" style="display: none">
                        <i class="fas fa-bookmark icon-size"></i>
                    </label>
                </div>
                <div class="p-2 bd-highlight dropdown">
                    <a href="#" role="button" th:id="'dropdown'+${post.p_id}" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left"
                         th:aria-labelledby="'dropdown'+${post.p_id}">
                        <a class="dropdown-item" th:href='@{${post.img_dir}}' download><i
                                class="fas fa-download"></i> 下载</a>
                        <!--<a class="dropdown-item" href="#">Another action</a>-->
                        <div class="dropdown-divider"></div>
                        <div th:if="${session.user}">
                            <a class="dropdown-item" href="#" th:if="${post.getU_id()==session.user.getId()}"
                               th:onclick="'deletePost('+${post.p_id}+')'"><i class="fas fa-trash-alt"></i>
                                删除</a>
                        </div>
                        <a class="dropdown-item" th:if="${session.user}" href="#"
                           th:onclick="'sendReport('+${post.p_id}+')'"><i class="fas fa-exclamation-circle"></i> 举报</a>
                    </div>
                </div>
            </div>
            <div class="pl-3 pr-3 pb-3" style="position: relative">
                <p class="card-text" style="font-size: 80%">
                    <span style="font-weight: bold" th:text="${post.u_username}">null&nbsp;&nbsp;</span>
                    <a th:href="@{'/posts/'+${post.getP_id()}}" class="stretched-link"
                       th:text="${post.p_title}">null</a>
                </p>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="genaralSideNav(n)">
    <div class="d-flex flex-row align-items-center mb-3 user-section" th:if="${session.user}">
        <a th:href="@{/home}">
            <img th:src="@{${session.user.getAvatar()}}" alt="..."
                 class="avatar-img">
        </a>
        <a th:href="@{/home}">
            <div class="d-flex flex-column pl-3">
                <div th:text="${session.user.getName()}">null</div>
                <div class="text-secondary" th:text="'@'+${session.user.getUsername()}">null</div>
            </div>
        </a>
    </div>
    <div class="d-flex flex-column mb-2 subs-section" th:if="${session.user}">
        <a class="btn btn-outline-dark mb-2" th:classappend="${n==0}?'active'" th:href="@{/subscription}" role="button">订阅</a>
        <a class="btn btn-outline-dark mb-2" th:classappend="${n==1}?'active'" th:href="@{/index}" role="button">全部</a>
        <div class="dropdown-divider"></div>
    </div>
    <div class="d-flex flex-column mb-2 subs-section" th:if="${session.user}">
        <a class="btn btn-primary mb-2" href="#" data-toggle="modal" data-target="#uploadForm"
           role="button">
            <i class="fas fa-plus"></i> 上传
        </a>
        <div id="notificationSection" th:fragment="notificationSection" class="d-flex flex-column">
            <a class="btn btn-outline-dark mb-2" th:href="@{/user/message}" role="button">
                <i class="fas fa-bell"></i><span> 消息</span>
                <span class="badge badge-pill badge-light"th:unless="${uncheckedNotify+likeUncheckedNum==0}" th:text="${uncheckedNotify}+${likeUncheckedNum}">99+</span>
            </a>
            <a class="btn btn-outline-dark mb-2" th:href="@{/user/message}" role="button">
                <i class="fas fa-comment-alt"></i><span> 信息</span></a>
        </div>

        <div class="dropdown-divider"></div>
    </div>
    <div class="card mb-2" th:unless="${session.user}">
        <div class="modal-header">
            <h5 class="modal-title">Pic.com</h5>
        </div>
        <div class="modal-body">
            <a class="btn btn-outline-primary text-primary mb-3" style="width: 100%" th:href="@{/login}"
               role="button">登录</a>
            <a class="btn btn-outline-secondary text-secondary" style="width: 100%"
               th:href="@{/register}" role="button">注册</a>
        </div>
    </div>
    <div style="width: 100%">
        <small>
            <a href="#" class="text-muted mr-1" style="font-weight: lighter">关于</a>
            <a href="#" class="text-muted mr-1" style="font-weight: lighter">帮助</a>
            <a href="#" class="text-muted mr-1" style="font-weight: lighter">API</a>
            <a href="#" class="text-muted mr-1" style="font-weight: lighter">隐私</a>
            <a href="#" class="text-muted mr-1" style="font-weight: lighter">条款</a>
        </small>
    </div>
</th:block>
<th:block th:fragment="genaralScript">
    <script type="text/javascript" th:src="@{/static/js/jquery-3.4.1.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</th:block>

<th:block th:fragment="notification">
    <script type="text/javascript" th:inline="javascript" th:if="${session.user}">
        var userId = /*[[${session.user.getUsername()}]]*/"";
        if ('WebSocket' in window) {
            var localPath = (window.location.host);
            console.log("ws://" + localPath + "/websocket/" + userId);
            websocket = new WebSocket("ws://" + localPath + "/websocket/" + userId);
            if (window.Notification) {
                console.log('正在推送通知');
                Notification.requestPermission().then(function (permission) {
                    if (permission === 'granted') {
                        console.log('用户允许通知');
                    } else if (permission === 'denied') {
                        console.log('用户拒绝通知');
                    }
                });
            } else {
                console.log('浏览器不支持Notification');
            }
        } else {
            alert('当前浏览器不支持websocket哦！')
        }
        //连接发生错误的回调方法
        websocket.onerror = function () {
            // setMessageInnerHTML("WebSocket连接发生错误");
            console.log("WebSocket连接发生错误");
        };
        //连接成功建立的回调方法
        websocket.onopen = function () {
            // setMessageInnerHTML("WebSocket连接成功");
            console.log("WebSocket连接成功");
        };
        //接收到消息的回调方法
        websocket.onmessage = function (event) {
            sendNotification(event.data);
            $('#notificationSection').load(/*[[@{/user/reloadUnchecked}]]*/"");
        };
        //连接关闭的回调方法
        websocket.onclose = function () {
            // setMessageInnerHTML("WebSocket连接关闭");
            console.log("WebSocket连接关闭");
        };
        //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
        window.onbeforeunload = function () {
            closeWebSocket();
        };

        var sender;

        //将消息显示在网页上
        function sendNotification(sendMessage) {
            // document.getElementById('message').innerHTML += sendMessage + '<br/>';
            sender = JSON.parse(sendMessage).userId;
            let senderId = JSON.parse(sendMessage).id;
            var content = JSON.parse(sendMessage).message;
            var senderAvatar = JSON.parse(sendMessage).userAvatar;
            Notification.requestPermission().then(function (permission) {
                if (permission === 'granted') {
                    console.log('用户允许通知');
                    if (sender === "system"){
                        let n = new Notification("系统通知",{
                            body: content
                        });

                        n.onclick = function (event) {
                            event.preventDefault();
                            n.close();
                            window.location.href=/*[[@{/user/message}]]*/"";
                        }
                    }else{
                        let n = new Notification('@' + sender, {
                            body: content,
                            // tag: sender,
                            icon: senderAvatar
                        });

                        n.onclick = function (event) {
                            event.preventDefault();
                            n.close();
                            window.location.href="/message/"+senderId;
                            window.focus();
                        }
                    }
                } else if (permission === 'denied') {
                    console.log('用户拒绝通知');
                }
            });

        }

        //关闭WebSocket连接
        function closeWebSocket() {
            websocket.close();
        }

    </script>
</th:block>

</html>