<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <th:block th:replace="include::genaralCss">
        <link rel="stylesheet" type="text/css" media="all"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <link href="https://cdn.bootcss.com/font-awesome/5.12.1/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/theme.css" th:href="@{/static/css/theme.css}"/>
    </th:block>


</head>

<body>


<!--主内容-->
<div class="container content-m">
    <div class="row">
        <div class="col-lg-8 col posts-m" id="loading">

        </div>
        <div class="col-lg-4 d-none d-lg-block">
            <div class="sidebar-item">
                <div class="make-me-sticky">
                    <div th:replace="include::genaralSideNav(1)"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--登录、注册、上传模态框-->
<!--<div th:replace="include::account_button"></div>-->
<div th:replace="include::nav_and_menu"></div>

<!-- 返回顶部 -->
<a href="javaScript:;" class="top"><i class="fas fa-arrow-up" style="font-size: 150%; "></i></a>

<th:block th:replace="include :: genaralScript"></th:block>
<script type="text/javascript" src="../static/js/jquery.validate.js"
        th:src="@{/static/js/jquery.validate.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/static/js/customize.js}"></script>
<th:block th:replace="include :: notification"></th:block>
<th:block th:replace="include :: genaralUpload"></th:block>
<th:block th:replace="include :: likeAndFav"></th:block>
<script type="text/javascript" th:src="@{/static/js/infinite-scroll.pkgd.js}"
        src="../static/js/infinite-scroll.pkgd.js"></script>
<script th:inline="javascript" type="text/javascript">
    function deletePost(p_id) {
        if (confirm('确认删除?')) {
            $.post("/delete_post_id", {"p_id": p_id},
                function (data) {
                    if (data === "OK") {
                        alert("success");
                        window.location.reload();
                    } else {
                        alert("Fail");
                        window.location.reload();
                    }
                });
        }
    }

    var $container = $('#loading').infiniteScroll({
        path: function () {
            return 'http://'+window.location.host+'/posts?start=' + this.pageIndex;
        },
        responseType: 'text',
        status: '.scroll-status',
        history: false,
    });
    $container.on('load.infiniteScroll', function (response, status, xhr) {
        $('#loading').append(status);
    });
    // load initial page
    $container.infiniteScroll('loadNextPage');
</script>

</body>
</html>