<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/bootstrap-4.4.1-dist/css/bootstrap.min.css"
          th:href="@{/static/bootstrap-4.4.1-dist/css/bootstrap.min.css}"/>
    <link href="https://cdn.bootcss.com/font-awesome/5.12.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/theme.css" th:href="@{/static/css/theme.css}"/>

</head>

<body>


<!--主内容-->
<div class="container content-m">
    <div class="row">
        <div id="posts" class="col-lg-8 col posts-m" th:fragment="post-list">
            <div class="card mb-3" th:each="post : ${posts}">
                <div class="card-header bg-transparent pl-3 pr-3"
                     style="display: flex; flex-direction: row; align-items: center">
                    <div class="pr-3 bd-highlight"><img th:src="@{${post.u_avatar}}"
                                                        alt="..." class="rounded-circle post-avator "></div>
                    <div class="bd-highlight">
                        <div class="d-flex flex-column bd-highlight">
                            <div class="bd-highlight" style="font-size: 66% !important;font-weight: bold"
                                 th:text="${post.u_username}">null
                            </div>
                            <div class="text-muted" style="font-size: 55% !important;"
                                 th:text="${#dates.format(post.upload_time,'yyyy-MM-dd HH:mm')}">null
                            </div>
                        </div>
                    </div>
                </div>
                <img th:src="@{${post.img_dir}}" class="post-card-img" alt="...">
                <div class="d-flex justify-content-around">
                    <div class="p-2 bd-highlight">
                        <label th:for="'like'+${post.p_id}" class="like">
                            <input type="checkbox" class="like" th:id="'like'+${post.p_id}"
                                   th:checked="${post.p_like_flag==1}" style="display: none">
                            <i class="fas fa-heart icon-size"></i>
                        </label>
                    </div>
                    <div class="p-2 bd-highlight"><a href="#"><i class="far fa-comment-dots icon-size"></i></a></div>
                    <div class="p-2 bd-highlight"><!--<a href="#"><i class="far fa-bookmark icon-size"></i></a>-->
                        <label th:for="'fav_'+${post.p_id}" class="fav">
                            <input type="checkbox" th:id="'fav_'+${post.p_id}"
                                   th:checked="${post.p_fav_flag==1}" style="display: none">
                            <i class="fas fa-bookmark icon-size"></i>
                        </label>
                    </div>
                    <div class="p-2 bd-highlight dropdown">
                        <a href="#" role="button" th:id="'dropdown'+${post.p_id}" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left"
                             th:aria-labelledby="'dropdown'+${post.p_id}">
                            <a class="dropdown-item" th:href='@{${post.img_dir}}' download><i
                                    class="fas fa-download"></i> Download Image</a>
                            <!--<a class="dropdown-item" href="#">Another action</a>-->
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="fas fa-exclamation-circle"></i> Report</a>
                        </div>
                    </div>
                </div>
                <div class="pl-3 pr-3 pb-3">
                    <p class="card-text" style="font-size: 80%"><span style="font-weight: bold"
                                                                      th:text="${post.u_username}">null&nbsp;&nbsp;</span>
                        <span th:text="${post.p_title}">null</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block">
            <div class="sidebar-item">
                <div class="make-me-sticky">
                    <ul class="nav-list-group">
                        <li><img th:src="@{/static/img/853c98689faa6d4ccde6acf4c1dd694.jpg}" alt="..."
                                 class="avatar-img">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--登录、注册、上传模态框-->
<div th:replace="include::account_button"></div>
<div th:replace="include::nav_and_menu"></div>
<!-- 过渡动画 -->
<!--CSS Spinner-->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
<a href="javaScript:;" class="top"><i class="fas fa-arrow-up" style="font-size: 150%; "></i></a>

<!--jQuery-->
<script type="text/javascript" th:src="@{/static/js/jquery-3.4.1.min.js}"
        src="../static/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" th:src="@{/static/js/infinite-scroll.pkgd.js}"
        src="../static/js/infinite-scroll.pkgd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/jquery.validate.js"
        th:src="@{/static/js/jquery.validate.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/static/js/customize.js}"></script>

<script th:inline="javascript" type="text/javascript">

    // console.log("fav_123_bgjhkdnvsh".substring(4));

    var a = /*[[${session.user}]]*/ null;
    console.log("user: " + /*[[${ session.user}]]*/ null);
    /*页面过渡动画*/
    $(document).ready(function () {
        //Preloader
        preloaderFadeOutTime = 500;

        function hidePreloader() {

            var preloader = $('.spinner-wrapper');
            if (a == null) {
                preloader.delay(2000).fadeOut(preloaderFadeOutTime);
            } else
                preloader.fadeOut(preloaderFadeOutTime);
        }

        hidePreloader();
    });
    $(function () {
        if (a != null) {
            $(".online-button").show();
            $(".offline-button").hide();
        }
    });

    function login() {
        $.post("/login.action",
            $("#loginFormData").serialize(),
            function (data) {
                if (data === "success") {
                    alert("登录成功");
                    window.location.reload();
                } else if (data == "fail: 0") {
                    alert("用户名或密码错误");
                } else if (data == "fail: 1") {
                    alert("账户已停用");
                } else {
                    alert("登录失败");
                }
            });
    }

    function register() {
        $.post("/register.action",
            $("#signupForm").serialize(),
            function (data) {
                alert(data);
                if (data === "ok") {
                    alert("注册成功");
                    window.location.reload();
                } else if (data === "fail") {
                    alert("用户名已被占用");
                } else {
                    alert("注册失败");
                }
            });
    }

    function uploadPost() {
        var u_id = /*[[${ session.user?.id }]]*/ null;
        console.log("上传时username" + u_id);
        $.post("/uploadForm",
            $("#uploadFormData").serialize(),
            function (data) {
                if (data === "success") {
                    document.getElementById("uploadFormData").reset();
                    box.style.display = "";
                    $("#preview").html("");
                    $("#uploadTitle").removeClass("is-valid");
                    alert("success");
                }
            });
    }

    function clearUploadForm() {
        document.getElementById("uploadFormData").reset();
        box.style.display = "";
        $("#preview").html("");
        $("#uploadTitle").removeClass("is-valid");
    }

    $(document).ready(function () {
        $("#loginFormData").validate({
            rules: {
                username: {
                    required: true
                },
                password: {
                    required: true
                }
            },
            messages: {
                username: "Please enter your username",
                password: "Please enter your password"
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                // Add the `invalid-feedback` class to the error element
                error.addClass("invalid-feedback");
                if (element.prop("type") === "checkbox") {
                    error.insertAfter(element.next("label"));
                } else {
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass("is-invalid").removeClass("is-valid");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).addClass("is-valid").removeClass("is-invalid");
            },
            submitHandler: function () {
                login();
            }
        });
        $("#signupForm").validate({
            rules: {
                name: "required",
                username: {
                    required: true,
                    minlength: 2
                },
                password: {
                    required: true,
                    minlength: 5
                },
                confirm_password: {
                    required: true,
                    minlength: 5,
                    equalTo: "#regpassword"
                },
                agree: "required"
            },
            messages: {
                name: "Please enter your name",
                username: {
                    required: "Please enter a username",
                    minlength: "Your username must consist of at least 2 characters"
                },
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                },
                confirm_password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long",
                    equalTo: "Please enter the same password as above"
                },
                agree: "Please accept our policy"
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                // Add the `invalid-feedback` class to the error element
                error.addClass("invalid-feedback");
                if (element.prop("type") === "checkbox") {
                    error.insertAfter(element.next("label"));
                } else {
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass("is-invalid").removeClass("is-valid");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).addClass("is-valid").removeClass("is-invalid");
            },
            submitHandler: function () {
                register();
            }
        });
        $("#uploadFormData").validate({
            rules: {
                p_title: {
                    required: true
                }
            },
            messages: {
                p_title: "Please enter a title"
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                // Add the `invalid-feedback` class to the error element
                error.addClass("invalid-feedback");
                if (element.prop("type") === "checkbox") {
                    error.insertAfter(element.next("label"));
                } else {
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass("is-invalid").removeClass("is-valid");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).addClass("is-valid").removeClass("is-invalid");
            },
            submitHandler: function () {
                uploadPost();
            }
        });
    });


    $(document).on({
        dragleave: function (e) {	//拖离
            e.preventDefault();
        },
        drop: function (e) {  //拖后放
            e.preventDefault();
        },
        dragenter: function (e) {	//拖进
            e.preventDefault();
        },
        dragover: function (e) {	//拖来拖去
            e.preventDefault();
        }
    });

    var box = document.getElementById('drop_area'); //拖拽区域
    box.addEventListener("drop", function (e) {
        e.preventDefault(); //取消默认浏览器拖拽效果
        var fileList = e.dataTransfer.files; //获取文件对象
        //检测是否是拖拽文件到页面的操作
        if (fileList.length === 0) {
            return false;
        }
        //检测文件是不是图片
        if (fileList[0].type.indexOf('image') === -1) {
            alert("您拖的不是图片！");
            return false;
        }
        //拖拉图片到浏览器，可以实现预览功能
        var img = window.webkitURL.createObjectURL(fileList[0]);
        var filename = fileList[0].name; //图片名称
        var filesize = Math.floor((fileList[0].size) / 1024);
        // alert(filesize);
        if (filesize >= 20480) {
            alert("图片过大")
            return false;
        }
        var formData = new FormData();
        var formTitle = document.getElementById("formTitle");

        formData.append("upload", fileList[0]);
        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "/imgUpload",
            data: formData,
            processData: false,  // Important!
            contentType: false,
            cache: false,
            success: function (data) {
                var str = "<img src='" + img + "' class='d-block mx-auto img-thumbnail'><p>filename: " + filename + "</p><p>filesize: " + filesize + "KB</p>";
                $("#preview").html(str);
                box.style.display = "none";
                formTitle.style.display = "";
                filename = data;
                console.log("上传图片filename" + filename);
                $("#img_dir").val(filename);
                $("#u_id").val(/*[[${ session.user?.id }]]*/ null);
            },
            error: function () {
                alert("ERROR");
            }
        })
    }, false);

</script>

</body>
</html>