<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/bootstrap-4.4.1-dist/css/bootstrap.min.css"
          th:href="@{/static/bootstrap-4.4.1-dist/css/bootstrap.min.css}"/>
    <link href="https://cdn.bootcss.com/font-awesome/5.12.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/theme.css" th:href="@{/static/css/theme.css}"/>

</head>

<body>


<!--主内容-->
<div style="display: flex;flex-direction: column; justify-content: center; align-items: center;min-height: 100vh;">
    <div id="msg-section" th:fragment="msg-section" style="width: 500px">
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:unless="${#strings.isEmpty(msg)}"
             th:text="${msg}" style="width: 100%;">
            null
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="card" style="max-width: 500px;width: 100%">
        <div class="modal-header">
            <h5 class="modal-title" id="loginFormTitle">Log in</h5>
        </div>
        <form method="post" id="loginFormData" th:action="@{/login.action}">
            <div class="modal-body">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
            </div>
            <div class="modal-footer">
                <a class="nav-link" style="font-weight: lighter" th:href="@{/register}">Register</a>
                <button class="btn btn-primary" type="submit">Log in</button>
            </div>
        </form>
    </div>
    <a class="nav-link" style="font-weight: lighter" th:href="@{/index}">Enter directly</a>

</div>

<!-- 过渡动画 -->
<!--CSS Spinner-->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>

<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
    <!-- Position it -->
    <div style="position: absolute; top: 0; right: 0;">

        <!-- Then put toasts within -->
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded mr-2" alt="...">
                <strong class="mr-auto">Bootstrap</strong>
                <small class="text-muted">just now</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                See? Just like this.
            </div>
        </div>

        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded mr-2" alt="...">
                <strong class="mr-auto">Bootstrap</strong>
                <small class="text-muted">2 seconds ago</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                Heads up, toasts will stack automatically
            </div>
        </div>
    </div>
</div>

<!--jQuery-->
<script type="text/javascript" th:src="@{/static/js/jquery-3.4.1.min.js}"
        src="../static/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" th:src="@{/static/js/infinite-scroll.pkgd.js}"
        src="../static/js/infinite-scroll.pkgd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/jquery.validate.js"
        th:src="@{/static/js/jquery.validate.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script th:inline="javascript" type="text/javascript">

    /*页面过渡动画*/
    $(function () {
        function hidePreloader() {
            $('.spinner-wrapper').delay(2000).fadeOut(500);
        }
        hidePreloader();
    });

    $("#loginFormData").validate({
        rules: {
            username: {
                required: true
            },
            password: {
                required: true
            }
        },
        messages: {
            username: "Please enter your username",
            password: "Please enter your password"
        },
        errorElement: "em",
        errorPlacement: function (error, element) {
            // Add the `invalid-feedback` class to the error element
            error.addClass("invalid-feedback");
            if (element.prop("type") === "checkbox") {
                error.insertAfter(element.next("label"));
            } else {
                error.insertAfter(element);
            }
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass("is-invalid").removeClass("is-valid");
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).addClass("is-valid").removeClass("is-invalid");
        },
        /*submitHandler: function () {
            $("#msg-section").load("/login.action?"+$("#loginFormData").serialize());
        }*/
    });

</script>

</body>
</html>