<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebSocket SpringBootDemo</title>
    <th:block th:replace="include::genaralCss">
        <link rel="stylesheet" type="text/css" media="all"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <link href="https://cdn.bootcss.com/font-awesome/5.12.1/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/theme.css" th:href="@{/static/css/theme.css}"/>
    </th:block>
</head>
<body>
<!--顶栏-->
<nav class="navbar fixed-top shadow-sm nav-m p-0" style="border-bottom: 1px solid #dbdbdb;">
    <div class="container d-flex flex-row align-items-center flex-nowrap"
         style="max-width: 992px;height:54px">
        <a th:href="@{/subscription}" class="pl-2 pr-3 pt-2 pb-2"><i class="fas fa-angle-left"
                                                                               style="font-size: 150%"></i></a>
        <div>消息</div>
        <div></div>
    </div>
</nav>


<div class="container content-m">
    <div id="message-list" th:fragment="messageList">
        <a th:href="@{/user/message/like}" class="message-list d-flex flex-row align-items-center justify-content-between border">
            <div class="d-flex flex-row align-items-center"><i class="fas fa-heart message-list-avatar mr-3" style="color: red;font-size: 50px"></i><span class="mr-3">点赞</span><span th:text="${likeUncheckedNum!=0}?${likeUncheckedNum}" class="badge badge-pill badge-danger">99+</span></div>
            <span th:text="${likeLastDate!=null}?${#dates.format(likeLastDate,'yyyy-MM-dd HH:mm:ss')}" class="text-muted font-weight-lighter"></span>
        </a>
        <a th:href="@{/user/message/comment}" class="message-list d-flex flex-row align-items-center justify-content-between border">
            <div class="d-flex flex-row align-items-center"><i class="far fa-comment-dots message-list-avatar mr-3" style="font-size: 50px"></i><span class="mr-3">评论</span><span th:text="${uncheckedNotify!=0}?${uncheckedNotify}" class="badge badge-pill badge-danger">99+</span></div>
            <span th:text="${lastNotifyDate!=null}?${#dates.format(lastNotifyDate,'yyyy-MM-dd HH:mm:ss')}" class="text-muted font-weight-lighter"></span>
        </a>
        <div th:each="ulist : ${userList}">
            <a th:href="@{'/message/'+${ulist.getId()}}" class="message-list d-flex flex-row align-items-center border">
                <img th:src="${ulist.avatar}" alt="" class="message-list-avatar border-radius-50 mr-3">
                <div class="d-flex flex-column justify-content-start flex-grow-1 mr-3">
                    <span th:text="${ulist.username}"></span>
                    <span th:text="${ulist.lastMessage.unreadNumById==0}?${ulist.username}+': '+${ulist.lastMessage.content}:'['+${ulist.lastMessage.unreadNumById}+' 未读] '+${ulist.username}+': '+${ulist.lastMessage.content}" class="text-nowrap overflow-hidden text-o-ellipsis text-muted font-weight-lighter"></span>
                </div>
                <div th:text="${#dates.format(ulist.lastMessage.time,'yyyy-MM-dd HH:mm:ss')}" class="text-muted font-weight-lighter"></div>
            </a>
        </div>
    </div>

</div>


<a href="javaScript:;" class="top"><i class="fas fa-arrow-up" style="font-size: 150%; "></i></a>


<th:block th:replace="include :: genaralScript"></th:block>
<script type="text/javascript" src="../static/js/jquery.validate.js"
        th:src="@{/static/js/jquery.validate.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/static/js/customize.js}"></script>

</body>

<script type="text/javascript" th:inline="javascript" th:if="${session.user}">
    var userId = /*[[${session.user.getUsername()}]]*/"";
    if ('WebSocket' in window) {
        var localPath = (window.location.host);
        console.log("ws://" + localPath + "/websocket/" + userId);
        websocket = new WebSocket("ws://" + localPath + "/websocket/" + userId);
    } else {
        alert('当前浏览器不支持websocket哦！')
    }
    //连接发生错误的回调方法
    websocket.onerror = function () {
        // setMessageInnerHTML("WebSocket连接发生错误");
        console.log("WebSocket连接发生错误");
    };
    //连接成功建立的回调方法
    websocket.onopen = function () {
        // setMessageInnerHTML("WebSocket连接成功");
        console.log("WebSocket连接成功");
    };
    //接收到消息的回调方法
    websocket.onmessage = function (event) {
        $('#message-list').load(/*[[@{/user/reloadMessage}]]*/"");
    };
    //连接关闭的回调方法
    websocket.onclose = function () {
        // setMessageInnerHTML("WebSocket连接关闭");
        console.log("WebSocket连接关闭");
    };
    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        closeWebSocket();
    };

    //关闭WebSocket连接
    function closeWebSocket() {
        websocket.close();
    }

</script>
</html>


