<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebSocket SpringBootDemo</title>

    <link rel="stylesheet" type="text/css" media="all" href="../static/bootstrap-4.4.1-dist/css/bootstrap.min.css"
          th:href="@{/static/bootstrap-4.4.1-dist/css/bootstrap.min.css}"/>
    <link href="https://cdn.bootcss.com/font-awesome/5.12.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/theme.css" th:href="@{/static/css/theme.css}"/>
</head>
<body>
<!--顶栏-->
<nav class="navbar fixed-top shadow-sm nav-m p-0" style="border-bottom: 1px solid #dbdbdb;">
    <div class="container d-flex flex-row align-items-center flex-nowrap"
         style="max-width: 992px;height:54px">
        <a href="#" class="pl-2 pr-3 pt-2 pb-2" onClick="history.back(-1);"><i class="fas fa-angle-left"
                                                                               style="font-size: 150%"></i></a>
        <div>消息</div>
        <div></div>
    </div>
</nav>


<div class="container content-m">
    <div class="message-list d-flex flex-row align-items-center border">喜爱</div>
    <div class="message-list d-flex flex-row align-items-center border">评论</div>
    <div th:each="ulist : ${userList}">
        <a th:href="@{'/message/'+${ulist.getId()}}" class="message-list d-flex flex-row align-items-center border">
            <img th:src="${ulist.avatar}" alt="" class="message-list-avatar mr-3">
            <div class="d-flex flex-column justify-content-start flex-grow-1 mr-3">
                <span th:text="${ulist.username}"></span>
                <span th:text="${ulist.lastMessage.content}" class="text-nowrap overflow-hidden text-o-ellipsis"></span>
            </div>
            <div th:text="${#dates.format(ulist.lastMessage.time,'yyyy-MM-dd HH:mm:ss')}" class="text-muted font-weight-lighter"></div>
        </a>
    </div>
</div>


<a href="javaScript:;" class="top"><i class="fas fa-arrow-up" style="font-size: 150%; "></i></a>


<th:block th:replace="include :: genaralScript"></th:block>
<script type="text/javascript" src="../static/js/jquery.validate.js"
        th:src="@{/static/js/jquery.validate.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/static/js/customize.js}"></script>

</body>

<script th:inline="javascript" type="text/javascript">


</script>
</html>


