<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/bootstrap-4.4.1-dist/css/bootstrap.min.css"
          th:href="@{/static/bootstrap-4.4.1-dist/css/bootstrap.min.css}"/>
    <link href="https://cdn.bootcss.com/font-awesome/5.12.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/theme.css" th:href="@{/static/css/theme.css}"/>

</head>

<body>

<div class="container content-m">
    <div class="row mr-0 ml-0">
        <div class="d-flex flex-row align-items-center mb-3 user-section" th:if="${one}">
            <img th:src="@{${one.getAvatar()}}" alt="..."
                 class="avatar-img">
            <div class="ml-3 text-nowrap" th:text="${one.getName()}">null</div>
            <small class="ml-3 text-secondary" th:text="'@'+${one.getUsername()}">null</small>
            <div class="d-flex flex-wrap">
                <div id="subBtn" th:fragment="subBtn" th:if="${session.user}">
                    <button class="btn-success btn ml-3 mt-2" th:if="${subState}" th:onclick="'toggleSub('+${one.getId()}+')'">已订阅</button>
                    <button class="btn-primary btn ml-3 mt-2" th:unless="${subState}" th:onclick="'toggleSub('+${one.getId()}+')'">订阅</button>
                </div>
                <a class="btn btn-outline-dark ml-3 mt-2" th:if="${session.user}" th:href="@{'/message/'+${one.getId()}}" role="button">发送消息</a>
            </div>

        </div>
    </div>
    <div class="row  justify-content-center mr-0 ml-0">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">帖子</a>
            </li>

        </ul>
    </div>
    <div class="row">
        <div class="tab-content btn-block" id="pills-tabContent">
            <div class="tab-pane btn-block fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div th:if="${posts}">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 ml-0 mr-0">
                        <div class="col p-2" th:each="post : ${posts}">
                            <a th:href="@{'/posts/'+${post.getP_id()}}">
                                <img th:src="@{${post.getImg_dir()}}" alt="" width="100%" height="300px" style="object-fit: cover">
                            </a>
                        </div>
                        <div class="col p-2"></div>
                        <div class="col p-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--登录、注册、上传-->
<!--<div th:replace="include::account_button"></div>-->
<div th:replace="include::nav_and_menu"></div>

<a href="javaScript:;" class="top"><i class="fas fa-arrow-up" style="font-size: 150%; "></i></a>

<th:block th:replace="include :: genaralScript"></th:block>
<script type="text/javascript" src="../static/js/jquery.validate.js"
        th:src="@{/static/js/jquery.validate.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/static/js/customize.js}"></script>
<th:block th:replace="include :: notification"></th:block>

<script th:inline="javascript" type="text/javascript">

    // console.log("fav_123_bgjhkdnvsh".substring(4));
    var a = /*[[${session.user}]]*/ null;
    console.log("user: " + /*[[${ session.user}]]*/ null);

    $(function () {
        if (a != null) {
            $(".online-button").show();
            $(".offline-button").hide();
        }
    });

    function toggleSub(sub_id){
        $("#subBtn").load("/toggleSub?sub_id="+sub_id);
    }


</script>

</body>
</html>