<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" media="all" href="../static/bootstrap-4.4.1-dist/css/bootstrap.min.css"
          th:href="@{/static/bootstrap-4.4.1-dist/css/bootstrap.min.css}"/>
    <link href="https://cdn.bootcss.com/font-awesome/5.12.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/theme.css" th:href="@{/static/css/theme.css}"/>

</head>
<body>
<div class="container content-m">
    <!--    <button id="button">say hi!</button>-->
    <div class="row">

    </div>
    <div class="row">
        <div class="col-md-8 col posts-m">
            <div class="card mb-3" th:if="${post}">
                <div class="card-header bg-transparent d-flex flex-row align-items-center pl-3 pr-3" style="position: relative">
                    <div class="pr-3">
                        <img th:src="@{${post.u_avatar}}" alt="..." class="rounded-circle post-avator">
                    </div>
                    <div class="d-flex flex-column">
                        <a th:href="@{'/user/'+${post.getU_id()}}" class="stretched-link" style="font-size: 66% !important;font-weight: bold"
                           th:text="${post.u_username}">null
                        </a>
                        <div class="text-muted" style="font-size: 55% !important;"
                             th:text="${#dates.format(post.upload_time,'yyyy-MM-dd HH:mm')}">null
                        </div>
                    </div>
                </div>
                <a href="javascript:" data-toggle="modal" data-target="#showImgModal" th:data-whatever="${post.img_dir}">
                    <img th:src="@{${post.img_dir}}" class="post-card-img" alt="...">
                </a>

                <div class="d-flex justify-content-around">
                    <div class="p-2 bd-highlight">
                        <label th:for="'like'+${post.p_id}" class="like">
                            <input type="checkbox" class="like" th:id="'like'+${post.p_id}"
                                   th:checked="${post.p_like_flag==1}" style="display: none">
                            <i class="fas fa-heart icon-size"></i>
                        </label>
                    </div>
                    <div class="p-2 bd-highlight"><a href="#"><i class="far fa-comment-dots icon-size"></i></a></div>
                    <div class="p-2 bd-highlight"><!--<a href="#"><i class="far fa-bookmark icon-size"></i></a>-->
                        <label th:for="'fav_'+${post.p_id}" class="fav">
                            <input type="checkbox" th:id="'fav_'+${post.p_id}"
                                   th:checked="${post.p_fav_flag==1}" style="display: none">
                            <i class="fas fa-bookmark icon-size"></i>
                        </label>
                    </div>
                    <div class="p-2 bd-highlight dropdown">
                        <a href="#" role="button" th:id="'dropdown'+${post.p_id}" data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left"
                             th:aria-labelledby="'dropdown'+${post.p_id}">
                            <a class="dropdown-item" th:href='@{${post.img_dir}}' download><i
                                    class="fas fa-download"></i> Download Image</a>
                            <!--<a class="dropdown-item" href="#">Another action</a>-->
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="fas fa-exclamation-circle"></i> Report</a>
                        </div>
                    </div>
                </div>
                <div class="pl-3 pr-3 pb-3">
                    <p class="card-text" style="font-size: 80%">
                        <span style="font-weight: bold" th:text="${post.u_username}">null&nbsp;&nbsp;</span>
                        <span th:href="@{'/posts/'+${post.getP_id()}}" th:text="${post.p_title}">null</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-none d-md-block">
            <div class="sidebar-item">
                <div class="make-me-sticky">
                    <div class="d-flex flex-row align-items-center mb-3 user-section" th:if="${session.user}">
                        <a th:href="@{/home}">
                            <img th:src="@{${session.user.getAvatar()}}" alt="..."
                                 class="avatar-img">
                        </a>
                        <a th:href="@{/home}">
                            <div class="d-flex flex-column pl-3">
                                <div th:text="${session.user.getName()}">null</div>
                                <div class="text-secondary" th:text="'@'+${session.user.getUsername()}">null</div>
                            </div>
                        </a>
                    </div>
                    <div class="d-flex flex-column mb-2 subs-section" th:if="${session.user}">
                        <a class="btn btn-outline-dark mb-2" th:href="@{/subscription}" role="button">Subscription</a>
                        <a class="btn btn-primary mb-2" th:href="@{/index}" role="button">All posts</a>
                        <div class="dropdown-divider"></div>
                    </div>
                    <div class="d-flex flex-column mb-2 subs-section" th:if="${session.user}">
                        <a class="btn btn-primary mb-2" href="#" data-toggle="modal" data-target="#uploadForm" role="button">
                            <i class="fas fa-plus"></i> Upload
                        </a>
                        <a class="btn btn-outline-dark mb-2" href="#" role="button">
                            <i class="fas fa-bell"></i><span> Notification</span>
                            <span class="badge badge-pill badge-light">99+</span>
                        </a>
                        <a class="btn btn-outline-dark mb-2" href="#" role="button">
                            <i class="fas fa-comment-alt"></i><span> Message</span></a>
                        <div class="dropdown-divider"></div>
                    </div>
                    <div class="card mb-2" th:unless="${session.user}">
                        <div class="modal-header">
                            <h5 class="modal-title">Pic.com</h5>
                        </div>
                        <div class="modal-body">
                            <a class="btn btn-outline-primary text-primary mb-3" style="width: 100%" th:href="@{/login}"
                               role="button">Log in</a>
                            <a class="btn btn-outline-secondary text-secondary" style="width: 100%"
                               th:href="@{/register}" role="button">Register</a>
                        </div>
                    </div>
                    <div style="width: 100%">
                        <small>
                            <a href="#" class="text-muted mr-1" style="font-weight: lighter">About</a>
                            <a href="#" class="text-muted mr-1" style="font-weight: lighter">Help</a>
                            <a href="#" class="text-muted mr-1" style="font-weight: lighter">API</a>
                            <a href="#" class="text-muted mr-1" style="font-weight: lighter">Privacy</a>
                            <a href="#" class="text-muted mr-1" style="font-weight: lighter">Terms</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="include::nav_and_menu"></div>
<!--jQuery-->
<script type="text/javascript" th:src="@{/static/js/jquery-3.4.1.min.js}"
        src="../static/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" th:src="@{/static/js/infinite-scroll.pkgd.js}"
        src="../static/js/infinite-scroll.pkgd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/jquery.validate.js"
        th:src="@{/static/js/jquery.validate.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/static/js/customize.js}"></script>
<!--<script type="text/javascript">
    if (window.Notification) {
        console.log('浏览器支持Notification');
        if (Notification.permission === 'granted') {
            console.log('用户允许通知');
        } else if (Notification.permission === 'denied') {
            console.log('用户拒绝通知');
        } else {
            console.log('用户还没选择，去向用户申请权限吧');
        }

        Notification.requestPermission().then(function (permission) {
            if (permission === 'granted') {
                console.log('用户允许通知');
                var n = new Notification('状态更新提醒', {
                    body: '你的朋友圈有3条新状态，快去查看吧',
                    /*tag: 'linxin',
                    icon: 'http://blog.gdfengshuo.com/images/avatar.jpg',*/
                    requireInteraction: true
                })

            } else if (permission === 'denied') {
                console.log('用户拒绝通知');
            }
        });
    } else {
        console.log('浏览器不支持Notification');
    }


    var button = document.getElementById("button");
    button.addEventListener('click', function () {
        // 如果用户同意就创建一个通知
        if (window.Notification && Notification.permission === "granted") {
            console.log('正在推送通知');
            /*for (var i = 0; i < 10; i++) {
                // 感谢标记，我们应该只看到内容为 "Hi! 9" 的通知
                var n = new Notification("Hi! " + i, {tag: 'soManyNotification'});
            }*/
            /*var n = new Notification("Hi!", {
                body: '你的朋友圈有3条新状态，快去查看吧',
                /!*tag: 'linxin',
                icon: 'http://blog.gdfengshuo.com/images/avatar.jpg',*!/
                requireInteraction: true
            });*/
            navigator.serviceWorker.getRegistration().then(function(reg) {
                var options = {
                    body: 'Here is a notification body!',
                    icon: 'images/example.png',
                    vibrate: [100, 50, 100],
                    data: {
                        dateOfArrival: Date.now(),
                        primaryKey: 1
                    },
                    actions: [
                        {action: 'explore', title: 'Explore this new world',
                            icon: 'images/checkmark.png'},
                        {action: 'close', title: 'Close notification',
                            icon: 'images/xmark.png'},
                    ]
                };
                reg.showNotification('Hello world!', options);
            });
        }
    });
</script>-->

</body>
</html>