<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/bootstrap-4.4.1-dist/css/bootstrap.min.css"
          th:href="@{/static/bootstrap-4.4.1-dist/css/bootstrap.min.css}"/>
    <link href="https://cdn.bootcss.com/font-awesome/5.12.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/theme.css" th:href="@{/static/css/theme.css}"/>

</head>

<body>

<!--主内容-->
<div style="display: flex;flex-direction: column; justify-content: center; align-items: center;min-height: 100vh;">
    <div id="msg-section" th:fragment="msg-section" style="width: 500px">
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:unless="${#strings.isEmpty(msg)}" th:text="${msg}" style="width: 100%">
            null
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-success" role="alert" th:unless="${#strings.isEmpty(success)}" th:text="${success}" style="width: 100%">
            null
        </div>
    </div>

    <div class="card" style="max-width: 500px;width: 100%">
        <div class="modal-header">
            <h5 class="modal-title" id="registerFormTitle">Sign up</h5>
        </div>
        <form id="signupForm" method="post" >
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name"/>
                </div>
                <div class="form-group">
                    <label for="regusername">Username</label>
                    <input type="text" class="form-control" id="regusername" name="username"/>
                </div>
                <div class="form-group">
                    <label for="regpassword">Password</label>
                    <input type="password" class="form-control" id="regpassword" name="password"/>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password"/>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" id="agree" name="agree" value="agree" class="form-check-input"/>
                        <label class="form-check-label">Please agree to our policy</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="nav-link" style="font-weight: lighter" th:href="@{/login}">Log in</a>
                <button type="submit" class="btn btn-primary" name="signup" value="Sign up">Sign up</button>
            </div>
        </form>
    </div>
    <a class="nav-link" style="font-weight: lighter" th:href="@{/index}">Enter directly</a>
</div>

<!-- 过渡动画 -->
<!--CSS Spinner-->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
<a href="javaScript:;" class="top"><i class="fas fa-arrow-up" style="font-size: 150%; "></i></a>

<!--jQuery-->
<script type="text/javascript" th:src="@{/static/js/jquery-3.4.1.min.js}"
        src="../static/js/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/jquery.validate.js"
        th:src="@{/static/js/jquery.validate.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script th:inline="javascript" type="text/javascript">

    /*页面过渡动画*/
    $(function () {
        function hidePreloader() {
            $('.spinner-wrapper').delay(2000).fadeOut(500);
        }
        hidePreloader();
    });

    /*function register() {
        $.post("/register.action",
            $("#signupForm").serialize(),
            function (data) {
                // alert(data);
                if (data === "ok") {
                    alert("注册成功");
                    window.location=/!*[[@{/login}]]*!/"";
                } else if (data === "fail") {
                    alert("用户名已被占用");
                } else {
                    alert("注册失败");
                }
            });
    }*/

    $("#signupForm").validate({
        rules: {
            name: "required",
            username: {
                required: true,
                minlength: 2
            },
            password: {
                required: true,
                minlength: 5
            },
            confirm_password: {
                required: true,
                minlength: 5,
                equalTo: "#regpassword"
            },
            agree: "required"
        },
        messages: {
            name: "Please enter your name",
            username: {
                required: "Please enter a username",
                minlength: "Your username must consist of at least 2 characters"
            },
            password: {
                required: "Please provide a password",
                minlength: "Your password must be at least 5 characters long"
            },
            confirm_password: {
                required: "Please provide a password",
                minlength: "Your password must be at least 5 characters long",
                equalTo: "Please enter the same password as above"
            },
            agree: "Please accept our policy"
        },
        errorElement: "em",
        errorPlacement: function (error, element) {
            // Add the `invalid-feedback` class to the error element
            error.addClass("invalid-feedback");
            if (element.prop("type") === "checkbox") {
                error.insertAfter(element.next("label"));
            } else {
                error.insertAfter(element);
            }
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass("is-invalid").removeClass("is-valid");
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).addClass("is-valid").removeClass("is-invalid");
        },
        submitHandler: function () {
            $("#msg-section").load("/register.action?"+$("#signupForm").serialize());
        }
    });

</script>

</body>
</html>