<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebSocket SpringBootDemo</title>

    <link rel="stylesheet" type="text/css" media="all" href="../static/bootstrap-4.4.1-dist/css/bootstrap.min.css"
          th:href="@{/static/bootstrap-4.4.1-dist/css/bootstrap.min.css}"/>
    <link href="https://cdn.bootcss.com/font-awesome/5.12.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/theme.css" th:href="@{/static/css/theme.css}"/>
</head>
<body>
<!--顶栏-->
<nav class="navbar fixed-top shadow-sm nav-m p-0" style="border-bottom: 1px solid #dbdbdb;">
    <div class="container d-flex flex-row align-items-center flex-nowrap"
         style="max-width: 992px;height:54px">
        <a href="#" class="pl-2 pr-3 pt-2 pb-2" onClick="history.back(-1);"><i class="fas fa-angle-left"
                                                                               style="font-size: 150%"></i></a>

        <div th:text="${one.name}"></div>

        <a th:href="@{'/user/'+${one.getId()}}" class="btn btn-outline-secondary"><i class="fas fa-bars"></i></a>
    </div>
</nav>
<!--底栏-->
<nav class="navbar fixed-bottom shadow nav-m pl-0 pr-0 pt-2 pb-2" style="border-bottom: 1px solid #dbdbdb;height:54px">
    <div class="container d-flex flex-row align-items-center flex-nowrap"
         style="max-width: 992px">
        <div class="form-group btn-block mb-0 mr-3">
            <textarea th:disabled="${blocked==1}" th:placeholder="${blocked==1}?'根据对方设置，您无法向对方发送消息'" class="form-control btn-block" id="text" rows="1" style="height: 38px"></textarea>
        </div>

        <button class="btn btn-outline-secondary d-inline-block text-nowrap" th:disabled="${blocked==1}" onclick="send()">发送</button>
    </div>
</nav>

<div id="messageSection" class="shadow container pl-0 pr-0"
     style="position:absolute;top:54px;bottom:54px; overflow: auto; max-width: 992px;left: 50%;transform: translateX(-50%)">
    <div th:each="message : ${messageList}">
        <div th:if="${message.getSender()==session.user.getUsername()}"
             class="d-flex flex-row justify-content-end btn-block pt-2 pr-3 pb-2" style="padding-left: 69px">
            <div class="media">
                <div class="media-body btn-success" style="padding: 6px 12px;border: 1px;border-radius: .25rem">
                    <span th:text="${message.getContent()}" class="mb-0 text-wrap"></span>
                </div>
                <img th:src="@{${session.user.getAvatar()}}"
                     class="align-self-end chat-avatar border-radius-025rem ml-3" alt="...">
            </div>
        </div>
        <div th:if="${message.getSender()==one.getUsername()}"
             class="d-flex flex-row justify-content-start btn-block pt-2 pl-3 pb-2" style="padding-right: 69px">
            <div class="media">
                <img th:src="@{${one.getAvatar()}}" class="align-self-end chat-avatar border-radius-025rem mr-3"
                     alt="...">
                <div class="media-body btn-secondary" style="padding: 6px 12px;border: 1px;border-radius: .25rem">
                    <span th:text="${message.getContent()}" class="mb-0 text-wrap"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="messageHistory" class="d-flex flex-row justify-content-center pb-2"><span class="badge badge-secondary">聊天历史</span>
    </div>
    <!--    </div>-->
    <div id="message"></div>

</div>

<div class="spinner-wrapper">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>

<th:block th:replace="include :: genaralScript"></th:block>
<script type="text/javascript" src="../static/js/jquery.validate.js"
        th:src="@{/static/js/jquery.validate.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/static/js/customize.js}"></script>

</body>

<script th:inline="javascript" type="text/javascript">
    var websocket = null;

    var userId = /*[[${session.user.getUsername()}]]*/"";
    console.log(userId);
    var sendUserId = /*[[${one.getUsername()}]]*/"";
    console.log(sendUserId);
    var userAvatar = /*[[${session.user.getAvatar()}]]*/"";
    var sendUserAvatar = /*[[${one.getAvatar()}]]*/"";
    //判断当前浏览器是否支持WebSocket
    if ('WebSocket' in window) {
        /**
         * 手机端访问
         * window.location.href  /192.168.31.78:12006/ws
         * window.location.host  192.168.31.78:12006
         * window.location.port  12006
         */

        var localPath = (window.location.host);
        console.log(localPath);
        websocket = new WebSocket("ws://" + localPath + "/websocket/" + userId);
    } else {
        alert('当前浏览器不支持websocket哦！')
    }

    //连接发生错误的回调方法
    websocket.onerror = function () {
        // setMessageInnerHTML("WebSocket连接发生错误");
        console.log("WebSocket连接发生错误");
        setMessageInnerHTML("连接发生错误");
    };

    //连接成功建立的回调方法
    websocket.onopen = function () {
        // setMessageInnerHTML("WebSocket连接成功");
        console.log("WebSocket连接成功");
        //把收到消息的对象的所有聊天记录设置为已读
        setRead();
    }

    //接收到消息的回调方法
    websocket.onmessage = function (event) {
        setMessageInnerHTML(event.data);
        console.log(event.data);
        //把收到消息的对象的所有聊天记录设置为已读
        setRead();
    }

    //连接关闭的回调方法
    websocket.onclose = function () {
        // setMessageInnerHTML("WebSocket连接关闭");
        console.log("WebSocket连接关闭");
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        closeWebSocket();
    }

    //将消息显示在网页上
    function setMessageInnerHTML(sendMessage) {


        // document.getElementById('message').innerHTML += sendMessage + '<br/>';
        /*var sender = sendMessage.split(",", 2)[0];
        var content = sendMessage.substring(sender.length + 1);*/
        const sender = JSON.parse(sendMessage).userId;
        const content = JSON.parse(sendMessage).message;
        const senderId = JSON.parse(sendMessage).id;
        const senderAvatar = JSON.parse(sendMessage).userAvatar;

        if (sender === sendUserId) {
            sendUserMessage(content);
            document.getElementById('messageSection').scrollTop = document.getElementById('messageSection').scrollHeight;
        }else {
            Notification.requestPermission().then(function (permission) {
                if (permission === 'granted') {
                    console.log('用户允许通知');
                    if (sender === "system") {
                        let n = new Notification("系统通知", {
                            body: content
                        });

                        n.onclick = function (event) {
                            event.preventDefault();
                            n.close();
                            window.location.href =/*[[@{/user/message}]]*/"";
                        }
                    }else{
                        let n = new Notification('@' + sender, {
                            body: content,
                            // tag: sender,
                            icon: senderAvatar
                        });

                        n.onclick = function (event) {
                            event.preventDefault();
                            n.close();
                            window.location.href="/message/"+senderId;
                            window.focus();
                        }
                    }


                } else if (permission === 'denied') {
                    console.log('用户拒绝通知');
                }
            });
        }
    }

    //关闭WebSocket连接
    function closeWebSocket() {
        websocket.close();
    }

    //发送消息
    function send() {
        var message = document.getElementById('text').value;//要发送的消息内容

        if (message === "") {
            alert("发送信息不能为空！");
            return;
        } //获取发送人用户id

        if (sendUserId === "") {
            alert("发送人用户id不能为空！");
            return;
        }
        myMessage(message);
        document.getElementById('messageSection').scrollTop = document.getElementById('messageSection').scrollHeight;
        message = "{\"sendUserId\":\"" + sendUserId + "\",\"message\": \"" + message + "\"}"; //将要发送的信息和内容拼起来，以便于服务端知道消息要发给谁
        websocket.send(message);
        document.getElementById('text').value = "";
    }

    function myMessage(message) {
        document.getElementById('message').innerHTML +=
            "<div class=\"d-flex flex-row justify-content-end btn-block pt-2 pr-3 pb-2\"> " +
            "<div class=\"media\">\n" +
            "  <div class=\"media-body btn btn-success\">\n" +
            "    <p class=\"mb-0\">" + message + "</p>\n" +
            "  </div>\n" +
            "  <img src=\"" + userAvatar + "\" class=\"align-self-end chat-avatar border-radius-025rem ml-3\" alt=\"...\">\n" +
            "</div>" +
            "</div>";
    }

    function sendUserMessage(content) {
        document.getElementById('message').innerHTML +=
            "<div class=\"d-flex flex-row justify-content-start btn-block pt-2 pl-3 pb-2\"> " +
            "<div class=\"media\">\n" +
            "  <img src=\"" + sendUserAvatar + "\" class=\"align-self-end chat-avatar border-radius-025rem mr-3\" alt=\"...\">\n" +
            "  <div class=\"media-body btn btn-secondary\">\n" +
            "    <p class=\"mb-0\">" + content + "</p>\n" +
            "  </div>\n" +
            "</div>" +
            "</div>";
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('messageSection').scrollTop = document.getElementById('messageSection').scrollHeight;
    });

    function setRead() {
        $.ajax({
            url: /*[[@{/user/message/setRead}]]*/"",
            data: {uid: /*[[${one.username}]]*/""},
            success: function (data) {
                if (data==="ok"){
                    console.log("设置已读成功");
                }else {
                    console.log(data);
                }

            }
        });
    }

</script>
</html>


