<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.CommentDao">
    <select id="selectCommentById" parameterType="Integer" resultMap="userAndComment">
        select * from comment where id=#{id} order by time DESC
    </select>

    <resultMap id="userAndComment" type="Comment">
        <id property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="parentId" column="parentId"/>
        <result property="content" column="content"/>
        <result property="time" column="time"/>
        <result property="uid" column="uid"/>
        <association property="user" column="uid" javaType="User"
                     select="com.example.demo.dao.UserDao.findById"/>
    </resultMap>

    <select id="selectChildCommentsById" parameterType="Integer" resultMap="userAndComment">
        select * from comment where parentId=#{parentId} order by time DESC
    </select>

    <resultMap id="userAndComment1" type="Comment">
        <id property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="parentId" column="parentId"/>
        <result property="content" column="content"/>
        <result property="time" column="time"/>
        <result property="uid" column="uid"/>
        <association property="user" column="uid" javaType="User"
                     select="com.example.demo.dao.UserDao.findById"/>
        <collection property="childComments" column="id" ofType="Comment"
                    select="com.example.demo.dao.CommentDao.selectChildCommentsById"/>
    </resultMap>

    <select id="selectCommentsByPid" parameterType="Integer" resultMap="userAndComment1">
        select * from comment where pid=#{pid} and parentId = 0 order by time DESC
    </select>
</mapper>