<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.LikeNotifyDao">

    <resultMap id="LikeNotiAndUser" type="LikeNotify">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="isread" column="isread"/>
        <result property="time" column="time"/>
        <result property="pid" column="pid"/>
        <result property="fromid" column="fromid"/>
        <association property="user" column="fromid" javaType="User"
                     select="com.example.demo.dao.UserDao.findById"/>
    </resultMap>

    <select id="listLikeNotification" parameterType="Integer" resultMap="LikeNotiAndUser">
        select * from likenotify where uid=#{uid} order by time desc
    </select>
</mapper>