<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.MessageDao">

    <select id="lastMessage" resultType="Message">
        select * FROM message where time = (SELECT max(time) from message where (sender=#{one} and receiver=#{another}) or (sender=#{another} and receiver=#{one}))
    </select>

    <resultMap id="userAndLastMessage" type="User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="username" column="username"/>
        <result property="avatar" column="avatar"/>
        <association property="lastMessage" column="{one=uname,another=username}" javaType="Message"
                     select="lastMessage"/>
    </resultMap>

    <select id="chatListUser" resultMap="userAndLastMessage">
        select *,(SELECT username from user WHERE username=#{username}) uname from user where username in(
        SELECT receiver users from message WHERE sender=#{username}
        UNION
        SELECT sender users FROM message WHERE receiver=#{username})
    </select>
</mapper>