<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.NotificationDao">
    <select id="notifyNum" parameterType="Integer" resultType="Integer">
        select count(*) from commentnote where isread=0 and uid=#{uid}
    </select>

    <resultMap id="NotificationAndUser" type="Notification">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="isread" column="isread"/>
        <result property="time" column="time"/>
        <result property="content" column="content"/>
        <result property="pid" column="pid"/>
        <result property="fromid" column="fromid"/>
        <association property="user" column="fromid" javaType="User"
                     select="com.example.demo.dao.UserDao.findById"/>
    </resultMap>

    <select id="listNotification" parameterType="Integer" resultMap="NotificationAndUser">
        select * from commentnote where uid=#{uid}
    </select>
</mapper>