<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.PostDao">
    <select id="findAll" resultType="Post">
        select post.p_id, post.u_id, p_title,img_dir, upload_time, p_last_edit_time, p_like_count, p_fav_count,
        <if test="u_id != null">
            p_like_flag, p_fav_flag,
        </if>
        name, username as u_username, userState, avatar as u_avatar, email
        from (
        post inner join user
        on post.u_id=user.id
        <if test="u_id != null">
            left JOIN (select * from postflag WHERE u_id=#{u_id}) as temp
            on post.p_id=temp.p_id
        </if>
        )
        order by post.p_id desc
    </select>
    <select id="findAllOfOneUser" resultType="Post">
        select post.p_id, post.u_id, p_title,img_dir, upload_time, p_last_edit_time, p_like_count, p_fav_count,
        <if test="u_id != null">
            p_like_flag, p_fav_flag,
        </if>
        name, username as u_username, userState, avatar as u_avatar, email
        from (
        post inner join user
        on post.u_id=user.id
        <if test="u_id != null">
            left JOIN (select * from postflag WHERE u_id=#{u_id}) as temp
            on post.p_id=temp.p_id
        </if>
        )
        where post.u_id=#{uid}
        order by post.p_id desc
    </select>
    <select id="searchResult" resultType="Post">
        select post.p_id, post.u_id, p_title,img_dir, upload_time, p_last_edit_time, p_like_count, p_fav_count,
        <if test="u_id != null">
            p_like_flag, p_fav_flag,
        </if>
        name, username as u_username, userState, avatar as u_avatar, email
        from (
        post inner join user
        on post.u_id=user.id
        <if test="u_id != null">
            left JOIN (select * from postflag WHERE u_id=#{u_id}) as temp
            on post.p_id=temp.p_id
        </if>
        )
        where p_title like #{search_item}
        order by post.p_id
    </select>
    <select id="onePost" resultType="Post">
        select post.p_id, post.u_id, p_title,img_dir, upload_time, p_last_edit_time, p_like_count, p_fav_count,
        <if test="u_id != null">
            p_like_flag, p_fav_flag,
        </if>
        name, username as u_username, userState, avatar as u_avatar, email
        from (
        post inner join user
        on post.u_id=user.id
        <if test="u_id != null">
            left JOIN (select * from postflag WHERE u_id=#{u_id}) as temp
            on post.p_id=temp.p_id
        </if>
        )
        where post.p_id=#{p_id}
    </select>
    <select id="mySubs" resultType="Post">
        select post.p_id, post.u_id, p_title,img_dir, upload_time, p_last_edit_time, p_like_count, p_fav_count,
        <if test="u_id != null">
            p_like_flag, p_fav_flag,
        </if>
        name, username as u_username, userState, avatar as u_avatar, email
        from (
        post inner join user
        on post.u_id=user.id
        <if test="u_id != null">
            left JOIN (select * from postflag WHERE u_id=#{u_id}) as temp
            on post.p_id=temp.p_id
        </if>
        )
        where post.u_id in (SELECT sub_id u_id FROM subscription WHERE own_id = #{u_id})
    </select>
    <select id="findAllLike" resultType="Post">
        select post.p_id, post.u_id, p_title,img_dir, upload_time, p_last_edit_time, p_like_count, p_fav_count,
            p_like_flag, p_fav_flag,
        name, username as u_username, userState, avatar as u_avatar, email
        from (
        post inner join user
        on post.u_id=user.id
            left JOIN (select * from postflag WHERE u_id=#{u_id}) as temp
            on post.p_id=temp.p_id
        )
        where p_like_flag=1
        order by post.p_id desc
    </select>
    <select id="findAllFav" resultType="Post">
        select post.p_id, post.u_id, p_title,img_dir, upload_time, p_last_edit_time, p_like_count, p_fav_count,
            p_like_flag, p_fav_flag,
        name, username as u_username, userState, avatar as u_avatar, email
        from (
        post inner join user
        on post.u_id=user.id
            left JOIN (select * from postflag WHERE u_id=#{u_id}) as temp
            on post.p_id=temp.p_id
        )
        where p_fav_flag=1
        order by post.p_id desc
    </select>

    <resultMap id="postAndUser" type="Post">
        <id property="p_id" column="p_id"/>
        <result property="u_id" column="u_id"/>
        <result property="p_title" column="p_title"/>
        <result property="img_dir" column="img_dir"/>
        <result property="upload_time" column="upload_time"/>
        <result property="publicity" column="publicity"/>
        <association property="user" column="u_id" javaType="User"
                     select="com.example.demo.dao.UserDao.findById"/>
    </resultMap>
    <select id="findById" parameterType="Integer" resultMap="postAndUser">
        select * from post where p_id=#{id}
    </select>

</mapper>