<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.ReportDao">

    <resultMap id="reportAndUser" type="Report">
        <id property="id" column="id"/>
        <result property="time" column="time"/>
        <result property="fromId" column="fromId"/>
        <result property="ownerId" column="ownerId"/>
        <result property="pid" column="pid"/>
        <result property="operation" column="operation"/>
        <result property="operationTime" column="operationTime"/>
        <association property="fromUser" column="fromId" javaType="User"
                     select="com.example.demo.dao.UserDao.findById"/>
        <association property="ownerUser" column="ownerId" javaType="User"
                     select="com.example.demo.dao.UserDao.findById"/>
        <association property="post" column="pid" javaType="Post"
                     select="com.example.demo.dao.PostDao.findById"/>

    </resultMap>
    <select id="listReports" resultMap="reportAndUser">
        select * from reports where operation = 0
    </select>
    <select id="listArchived" resultMap="reportAndUser">
        select * from reports where operation != 0
    </select>
    <select id="listSearch" parameterType="String" resultMap="reportAndUser">
        SELECT r.*,f.username f_username,o.username o_username,p.img_dir,p.p_title FROM `reports` r LEFT JOIN user f on r.fromId=f.id LEFT JOIN user o on r.ownerId=o.id LEFT JOIN post p on r.pid=p.p_id where CONCAT(r.id,f.username, o.username, p_title,r.time,pid) LIKE #{content}
    </select>
</mapper>