<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.ReportDao">

    <resultMap id="reportAndUser" type="Report">
        <id property="id" column="id"/>
        <result property="time" column="time"/>
        <result property="fromId" column="fromId"/>
        <result property="pid" column="pid"/>
        <result property="duration" column="duration"/>
        <result property="operateTime" column="operateTime"/>
        <result property="archived" column="archived"/>
        <association property="fromUser" column="fromId" javaType="User"
                     select="com.example.demo.dao.UserDao.findById"/>
        <association property="post" column="pid" javaType="Post"
                     select="com.example.demo.dao.PostDao.findById"/>
    </resultMap>

    <select id="listReports" resultMap="reportAndUser">
        SELECT r.*,f.username f_username,o.username o_username FROM `reports` r LEFT JOIN user f on
        r.fromId=f.id LEFT JOIN post p on r.pid=p.p_id left join user o on o.id=p.u_id
        where r.archived = #{archived}
        <if test="content!=null">
            AND CONCAT(r.id, f.username, o.username, p_title, r.time, pid, operateTime) LIKE #{content}
        </if>
        order by r.time
    </select>
</mapper>